<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{fragments/bootstrap :: css}"/>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar('User Manager', 'clientsideusers')}"/>

    <h1>Client Side Users</h1>


    <table class="table" id="tblUsers">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Active</th>
        </thead>
        <tbody>

        </tbody>
    </table>

    <th:block th:replace="~{fragments/bootstrap :: js}"/>

    <script src="scripts.js">
    </script>
</body>
</html>