<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{fragments/bootstrap :: css}"/>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar('User Manager', 'users')}"/>

    <h1 th:text="${title}">Users</h1>

<!-- display the users in a table -->
<!-- using th:each and other th: attributes -->
<a class="btn btn-success" href="/users/add">Add User</a>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Active</th>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <td>
                <a
                    th:href="@{/users/{id}(id=${user.id})}"
                    th:text="${user.id}">
                </a>
            </td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.active} ? 'Active' :'Inactive'"></td>
            <td>
                <a class="btn btn-danger btn-sm"
                   th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a>
                <a class="btn btn-primary btn-sm"
                   th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a>
            </td>
        </tr>
        </tr>
    </tbody>
</table>

    <th:block th:replace="~{fragments/bootstrap :: js}"/>
</body>
</html>